@import 'src/tokens';

.root {
  background: $brand-primary-100;
  @include screen(smallPhone) {
    padding-bottom: 28ch;
  }
  @include screen(phone) {
    padding-bottom: 36ch;
  }
  @include screen(tablet) {
    padding-bottom: 36ch;
  }
  @include screen(tabletLandscape) {
    padding-bottom: 48ch;
  }
  @include screen(desktop) {
    padding-bottom: 28ch;
  }
  @include screen(desktopWide) {
    padding-bottom: 28ch;
  }
}

.container {
  @include screen(smallPhone) {
    padding-top: $space-ll;
  }
  @include screen(phone) {
    padding-top: $space-ll;
  }
  @include screen(tablet) {
    padding-top: $space-xl;
  }
  @include screen(tabletLandscape) {
    padding-top: $space-xl;
  }
  @include screen(desktop) {
    padding-top: $space-huge;
  }
  @include screen(desktopWide) {
    padding-top: $space-huge;
  }
}

.title {
  text-align: center;
  margin-bottom: $space-l;
  color: $dark-hex-80;
}

.display {
  text-align: center;
  color: $dark-hex-80;
  font-family: $font-display;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: $space-stack-l;
}

.cta {
  text-align: center;
  margin: 0 auto 32px;
  display: flex;
}

.paragraph {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 55ch;

  &:not(:last-child) {
    margin-bottom: $space-l;
  }
}

.logo {
  width: 64%;
  margin: $space-stack-ml;
}
