@import 'src/tokens';

.root {
  width: 100%;
  position: relative;
  border-radius: 6px;

  @include screen(smallPhone) {
    padding-bottom: $space-s;
  }
  @include screen(phone) {
    padding-bottom: $space-s;
  }
  @include screen(tablet) {
    padding-bottom: $space-l;
  }
  @include screen(tabletLandscape) {
    padding-bottom: $space-l;
  }
  @include screen(desktop) {
    padding-bottom: $space-l;
  }
  @include screen(desktopWide) {
    padding-bottom: $space-l;
  }
}
.wrapper {
  // width: 100%;
}

.container {
  // position: relative;
  // width: 100%;
  // background-color: $brand-secondary-200;
  // display: block;
  // overflow: hidden;

  // @include screen(smallPhone) {
  //   height: 192px;
  // }
  // @include screen(phone) {
  //   height: 192px;
  // }
  // @include screen(tablet) {
  //   height: 320px;
  // }
  // @include screen(tabletLandscape) {
  //   height: 320px;
  // }
  // @include screen(desktop) {
  //   height: 600px;
  // }
  // @include screen(desktopWide) {
  //   height: 600px;
  // }
}

.photo {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // width: 100%;
  // height: 100%;
  // object-fit: contain;
  // object-position: center;
}

.prevArrow,
.nextArrow {
  z-index: $layer-l;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  outline: none;
  border-radius: $radius-rounded;
  padding: 12px;
  background-color: $light-alpha-100;
  box-shadow: 0px 4px 8px -2px $dark-alpha-30;
  color: $brand-tertiary-200;
  display: flex;
  justify-content: center;
  align-items: center;

  .arrowIcon {
    display: block;
    width: 16px;
    height: 16px;

    &.prevArrowIcon {
      transform: translateX(-1px);
    }

    &.nextArrowIcon {
      transform: translateX(1px);
    }
  }
}

.nextArrow {
  right: -20px;
}

.prevArrow {
  left: -20px;
}
