@import 'src/tokens';

.root {
  composes: row from global;
  align-items: center;
  justify-content: center;
  margin: $space-stack-ml;
}

.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {

    margin: $space-inline-l;

  }
}

.logo {
  max-width: 100%;
  @include screen(phone) {
    margin: $space-stack-m;
  }
}

.kotakita {
  max-height: 112px;
  @include screen(phone) {
    max-height: 64px;
  }
}
