@import 'src/tokens';

.root {
  @include grid-row();
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: $space-stack-ml;
}

.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin: $space-inline-l;
  }
}

.logo {
  max-width: 100%;
  @include screen(smallPhone) {
    margin-bottom: $space-m;
  }
  @include screen(phone) {
    margin-bottom: $space-m;
  }
  @include screen(tablet) {
    margin-bottom: 0;
  }
  @include screen(tabletLandscape) {
    margin-bottom: 0;
  }
  @include screen(desktop) {
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
  }
}

.kotakita {
  @include screen(smallPhone) {
    max-height: 64px;
  }
  @include screen(phone) {
    max-height: 64px;
  }
  @include screen(tablet) {
    max-height: 88px;
  }
  @include screen(tabletLandscape) {
    max-height: 88px;
  }
  @include screen(desktop) {
    max-height: 88px;
  }
  @include screen(desktopWide) {
    max-height: 88px;
  }
}
