@import 'src/tokens';

.root {
  @include grid-row();
  align-items: center;
  justify-content: center;
  margin-bottom: $space-ml;
}

.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: $space-l;
  }
}

.logo {
  max-width: 100%;
  @include screen(smallPhone) {
    margin-bottom: $space-m;
  }
  @include screen(phone) {
    margin-bottom: $space-m;
  }
  @include screen(tablet) {
    margin-bottom: 0;
  }
  @include screen(tabletLandscape) {
    margin-bottom: 0;
  }
  @include screen(desktop) {
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
  }
}

.lokananta {
  @include screen(smallPhone) {
    max-height: 68px;
  }
  @include screen(phone) {
    max-height: 68px;
  }
  @include screen(tablet) {
    max-height: 92px;
  }
  @include screen(tabletLandscape) {
    max-height: 92px;
  }
  @include screen(desktop) {
    max-height: 92px;
  }
  @include screen(desktopWide) {
    max-height: 92px;
  }
}

.muara {
  @include screen(smallPhone) {
    max-height: 72px;
  }
  @include screen(phone) {
    max-height: 72px;
  }
  @include screen(tablet) {
    max-height: 104px;
  }
  @include screen(tabletLandscape) {
    max-height: 104px;
  }
  @include screen(desktop) {
    max-height: 104px;
  }
  @include screen(desktopWide) {
    max-height: 104px;
  }
}

.banjarsari {
  @include screen(smallPhone) {
    max-height: 88px;
  }
  @include screen(phone) {
    max-height: 88px;
  }
  @include screen(tablet) {
    max-height: 144px;
  }
  @include screen(tabletLandscape) {
    max-height: 144px;
  }
  @include screen(desktop) {
    max-height: 144px;
  }
  @include screen(desktopWide) {
    max-height: 144px;
  }
}
