@import 'src/tokens';

.root {
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(5px);
}

.header {
  @include screen(smallPhone) {
    justify-content: center;
  }
  @include screen(phone) {
    justify-content: center;
  }
  @include screen(tablet) {
    justify-content: flex-start;
  }
  @include screen(tabletLandscape) {
    justify-content: flex-start;
  }
  @include screen(desktop) {
    justify-content: flex-start;
  }
  @include screen(desktopWide) {
    justify-content: flex-start;
  }
}

.card {
  padding-top: $space-xl;
  padding-bottom: $space-xl;
  border-radius: 24px;
}

.row {
  display: grid;
  align-items: center;

  @include screen(smallPhone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include screen(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  @include screen(tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include screen(tabletLandscape) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include screen(desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include screen(desktopWide) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.email {
  @include screen(smallPhone) {
    margin-bottom: $space-ll;
    text-align: center;
  }
  @include screen(phone) {
    margin-bottom: $space-ll;
    text-align: center;
  }
  @include screen(tablet) {
    margin-bottom: 0;
    text-align: left;
  }
  @include screen(tabletLandscape) {
    margin-bottom: 0;
    text-align: left;
  }
  @include screen(desktop) {
    margin-bottom: 0;
    text-align: left;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
    text-align: left;
  }
}

.socmedWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  @include screen(smallPhone) {
    justify-content: center;
  }
  @include screen(phone) {
    justify-content: center;
  }
  @include screen(tablet) {
    justify-content: flex-end;
  }
  @include screen(tabletLandscape) {
    justify-content: flex-end;
  }
  @include screen(desktop) {
    justify-content: flex-end;
  }
  @include screen(desktopWide) {
    justify-content: flex-end;
  }
}

.socmed__icon {
  font-size: 32px;
  line-height: 32px;
  color: $brand-primary-100;

  @include screen(phone) {
    font-size: 24px;
    line-height: 24px;
  }
}

.iconContainer {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $space-inline-s;

  @include screen(phone) {
    width: 24px;
    height: 24px;
  }
}

.link {
  display: inline-block;
  color: $brand-tertiary-100;
  transition: all 0.3s;
  font-weight: $semibold;
  padding-top: $space-xs;

  &:hover,
  &:visited,
  &:focus,
  &:active {
    text-decoration: underline;
    transition: all 0.3s;
  }
}

.label {
  @include screen(smallPhone) {
    margin-bottom: $space-sm;
    margin-right: 0;
  }
  @include screen(phone) {
    margin-bottom: $space-sm;
    margin-right: 0;
  }
  @include screen(tablet) {
    margin-right: $space-xs;
    margin-bottom: 0;
  }
  @include screen(tabletLandscape) {
    margin-right: $space-xs;
    margin-bottom: 0;
  }
  @include screen(desktop) {
    margin-right: $space-xs;
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-right: $space-xs;
    margin-bottom: 0;
  }
}

.socmed {
  text-decoration: none;
  display: block;
  &:not(:last-child) {
    margin-right: $space-ml;
  }
}

.iconWrapper {
  cursor: pointer;
  width: fit-content;
  display: block;
  padding: 12px;
  border-radius: 9999px;
  background-color: $brand-secondary-200;
  transition: all 0.4s;

  &:hover {
    box-shadow: 0px 0px 0px 4px $brand-secondary-200;
    transition: all 0.28s;

    .icon {
      transition: all 0.28s;
      filter: drop-shadow(0px 4px 4px $dark-alpha-30);
    }
  }
}

.icon {
  display: block;
  color: $light-alpha-100;
  width: 24px;
  height: 24px;
  transition: all 0.4s;
}
