@import 'src/tokens';

.card {
  background: $light-alpha-100;
  display: flex;
  width: 100%;

  @include screen(smallPhone) {
    flex-direction: column-reverse;
    align-items: center;
  }
  @include screen(phone) {
    flex-direction: column-reverse;
    align-items: center;
  }
  @include screen(tablet) {
    flex-direction: row;
    align-items: center;
  }
  @include screen(tabletLandscape) {
    flex-direction: row;
    align-items: center;
  }
  @include screen(desktop) {
    flex-direction: row;
    align-items: center;
  }
  @include screen(desktopWide) {
    flex-direction: row;
    align-items: center;
  }
}

.cover {
  @include screen(smallPhone) {
    width: 100%;
    margin-bottom: $space-l;
  }
  @include screen(phone) {
    width: 100%;
    margin-bottom: $space-l;
  }
  @include screen(tablet) {
    width: 50vw;
    margin-bottom: 0;
  }
  @include screen(tabletLandscape) {
    width: 35vw;
    margin-bottom: 0;
  }
  @include screen(desktop) {
    width: 50%;
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    width: 50%;
    margin-bottom: 0;
  }
}

.text {
  @include screen(smallPhone) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
    padding-left: 0;
    flex: 1;
  }
  @include screen(phone) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
    padding-left: 0;
    flex: 1;
  }
  @include screen(tablet) {
    padding-top: $space-ml;
    padding-bottom: $space-ml;
    padding-left: 0;
    flex: 1;
  }
  @include screen(tabletLandscape) {
    padding-top: $space-ll;
    padding-bottom: $space-ll;
    padding-left: ml;
    flex: 1.5;
  }
  @include screen(desktop) {
    padding-top: $space-ll;
    padding-bottom: $space-ml;
    padding-left: ml;
    flex: 1.5;
  }
  @include screen(desktopWide) {
    padding-top: $space-ll;
    padding-bottom: $space-ml;
    padding-left: ml;
    flex: 1.5;
  }
}

.subtitle {
  margin-bottom: $space-l;
  color: $dark-hex-80;
  font-weight: $bold;
}

.description {
  margin-bottom: $space-ml;
}

.headerLogo {
  @include screen(smallPhone) {
    padding-top: $space-ll;
  }
  @include screen(phone) {
    padding-top: $space-ll;
  }
  @include screen(tablet) {
    padding-top: $space-xl;
  }
  @include screen(tabletLandscape) {
    padding-top: $space-xl;
  }
  @include screen(desktop) {
    padding-top: $space-xl;
  }
  @include screen(desktopWide) {
    padding-top: $space-xl;
  }
}

.logo {
}

.cta {
  justify-content: flex-start;
  @include screen(smallPhone) {
    width: 100%;
  }
  @include screen(phone) {
    width: 100%;
  }
  @include screen(tablet) {
    width: fit-content;
  }
  @include screen(tabletLandscape) {
    width: fit-content;
  }
  @include screen(desktop) {
    width: fit-content;
  }
  @include screen(desktopWide) {
    width: fit-content;
  }
}

.buttonText {
  display: inline-block;
  width: 100%;
}
