@import 'src/tokens';

.root {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $brand-secondary-200;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  z-index: 999999;
  transition: top 0.3s;
}

.container {
  justify-content: space-between;
  color: $brand-primary-100;
  align-items: center;
  @include screen(smallPhone) {
    display: none;
  }
  @include screen(phone) {
    display: none;
  }
  @include screen(tablet) {
    display: flex;
  }
  @include screen(tabletLandscape) {
    display: flex;
  }
  @include screen(desktop) {
    display: flex;
  }
  @include screen(desktopWide) {
    display: flex;
  }
}

.smallerContainer {
  align-items: center;
  display: flex;
  width: 100%;
  padding-top: $space-m;
  padding-bottom: $space-m;
  justify-content: space-between;
  background: $brand-secondary-200;

  @include screen(smallPhone) {
    display: flex;
  }
  @include screen(phone) {
    display: flex;
  }
  @include screen(tablet) {
    display: none;
  }
  @include screen(tabletLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }
}

.menu {
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;

  @include screen(smallPhone) {
    margin-bottom: $space-m;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    width: 100%;
    color: $brand-secondary-200;
    text-align: center;
    &:hover {
      color: $dark-hex-80;
      transition: all 0.3s;
    }
  }
  @include screen(phone) {
    margin-bottom: $space-m;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    width: 100%;
    color: $brand-secondary-200;
    text-align: center;
    &:hover {
      color: $dark-hex-80;
      transition: all 0.3s;
    }
  }
  @include screen(tablet) {
    border-bottom: none;
    margin-bottom: 0;
    padding-top: $space-m;
    padding-bottom: $space-m;
    width: fit-content;
    color: $light-alpha-90;
    text-align: left;
    &:hover {
      color: $light-alpha-100;
      transition: all 0.3s;
    }
    &:not(:last-child) {
      margin-right: $space-l;
    }
  }
  @include screen(tabletLandscape) {
    border-bottom: none;
    margin-bottom: 0;
    padding-top: $space-m;
    padding-bottom: $space-m;
    width: fit-content;
    color: $light-alpha-90;
    text-align: left;
    &:hover {
      color: $light-alpha-100;
      transition: all 0.3s;
    }
    &:not(:last-child) {
      margin-right: $space-xl;
    }
  }
  @include screen(desktop) {
    border-bottom: none;
    margin-bottom: 0;
    padding-top: $space-m;
    padding-bottom: $space-m;
    width: fit-content;
    color: $light-alpha-90;
    text-align: left;
    &:hover {
      color: $light-alpha-100;
      transition: all 0.3s;
    }
    &:not(:last-child) {
      margin-right: $space-xl;
    }
  }
  @include screen(desktopWide) {
    border-bottom: none;
    margin-bottom: 0;
    padding-top: $space-m;
    padding-bottom: $space-m;
    width: fit-content;
    color: $light-alpha-90;
    text-align: left;
    &:hover {
      color: $light-alpha-100;
      transition: all 0.3s;
    }
    &:not(:last-child) {
      margin-right: $space-xl;
    }
  }
}

.menuSmaller {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.menuContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999999;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.2);
  padding: $space-inset-ml;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
  width: 100%;
  margin: $space-stack-ml;
}

.logoDesktop {
  width: 76px;
}

.logoMobile {
  width: 64px;
  display: block;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.logo {
  width: 100%;
  margin-bottom: $space-ml;
  display: block;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.closeButton {
  width: 24px;
  height: 24px;
}

.smallMenuText {
  color: $brand-primary-100 !important;
  font-weight: $bold;
}
