@import 'src/tokens';

.root {
  @include grid-row();
  align-items: center;
  justify-content: center;
  @include screen(smallPhone) {
    margin-bottom: 0;
  }
  @include screen(phone) {
    margin-bottom: 0;
  }
  @include screen(tablet) {
    margin-bottom: $space-ml;
  }
  @include screen(tabletLandscape) {
    margin-bottom: $space-ml;
  }
  @include screen(desktop) {
    margin-bottom: $space-ml;
  }
  @include screen(desktopWide) {
    margin-bottom: $space-ml;
  }
}

.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: $space-l;
  }

  &:nth-child(even) {
    @include screen(smallPhone) {
      margin-right: 0;
    }
    @include screen(phone) {
      margin-right: 0;
    }
    @include screen(tablet) {
      margin-right: $space-l;
    }
    @include screen(tabletLandscape) {
      margin-right: $space-l;
    }
    @include screen(desktop) {
      margin-right: $space-l;
    }
    @include screen(desktopWide) {
      margin-right: $space-l;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.logo {
  max-width: 100%;

  @include screen(smallPhone) {
    margin-bottom: $space-m;
  }
  @include screen(phone) {
    margin-bottom: $space-m;
  }
  @include screen(tablet) {
    margin-bottom: $space-m;
  }
  @include screen(tabletLandscape) {
    margin-bottom: $space-m;
  }
  @include screen(desktop) {
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
  }
}

.himahi {
  @include screen(smallPhone) {
    max-height: 60px;
  }
  @include screen(phone) {
    max-height: 60px;
  }
  @include screen(tablet) {
    max-height: 96px;
  }
  @include screen(tabletLandscape) {
    max-height: 96px;
  }
  @include screen(desktop) {
    max-height: 96px;
  }
  @include screen(desktopWide) {
    max-height: 96px;
  }
}

.kotata {
  @include screen(smallPhone) {
    max-height: 52px;
  }
  @include screen(phone) {
    max-height: 52px;
  }
  @include screen(tablet) {
    max-height: 80px;
  }
  @include screen(tabletLandscape) {
    max-height: 80px;
  }
  @include screen(desktop) {
    max-height: 80px;
  }
  @include screen(desktopWide) {
    max-height: 80px;
  }
}

.sekolahi {
  @include screen(smallPhone) {
    max-height: 56px;
  }
  @include screen(phone) {
    max-height: 56px;
  }
  @include screen(tablet) {
    max-height: 80px;
  }
  @include screen(tabletLandscape) {
    max-height: 80px;
  }
  @include screen(desktop) {
    max-height: 80px;
  }
  @include screen(desktopWide) {
    max-height: 80px;
  }
}
