@import 'src/tokens';

.root {
  composes: row from global;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {

    margin: $space-inline-l;

  }
}

.logo {
  max-width: 100%;
  @include screen(phone) {
    margin: $space-stack-m;
  }
  @include screen(tabPortrait) {
    margin: $space-stack-m;
  }
  @include screen(tabLandscape) {
    margin: $space-stack-m;
  }
}

.gula {
  max-height: 80px;
  @include screen(phone) {
    max-height: 52px;
  }
}

.kampung {
  max-height: 64px;
  @include screen(phone) {
    max-height: 40px;
  }
}

.ruangatas {
  max-width: 104px;
  @include screen(phone) {
    max-height: 60px;
  }
}
