@import 'src/tokens';

.root {
  z-index: 999999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  left: 0;
}

.hidden {
  overflow: hidden;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.dark {
  color: $light-alpha-100;
  // background: $brand-tertiary-40;
  background-color: $dark-alpha-80;
}

.light {
  background-color: $light-alpha-100;
  color: $dark-alpha-70;
}
