/*
  Fontstack
*/

$font-primary: 'Raleway', 'SF Pro Display', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
  sans-serif;
$font-secondary: 'Raleway', 'SF Pro Display', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
  sans-serif;
$font-monospace: 'Roboto Mono', 'Operator Mono', monospace;
$font-display: 'Raleway';
