@import 'src/tokens';

.root {
  text-decoration: none;
}

.tiles {
  width: 100%;
}

.thumbnail {
  cursor: pointer;
  width: 100%;
  filter: grayscale(32%);
  transition: all 0.4s ease;

  &:hover {
    transition: all 0.28s ease-in;
    filter: grayscale(2%);
    box-shadow: 0px 24px 40px -16px rgba(0, 0, 0, 0.44);
  }
}

.band {
  padding-top: $space-m;
  padding-bottom: $space-m;
  font-weight: $bold;
  background: $brand-secondary-100;
  width: 100%;
  text-align: center;
  color: $light-alpha-100;
}
