@import 'src/tokens';

.root {
  background: $brand-primary-100;
  position: relative;
}

.container {
  @include screen(smallPhone) {
    padding-top: $space-ll;
    padding-bottom: $space-huge;
  }
  @include screen(phone) {
    padding-top: $space-ll;
    padding-bottom: $space-huge;
  }
  @include screen(tablet) {
    padding-top: $space-huge;
    padding-bottom: $space-xl;
  }
  @include screen(tabletLandscape) {
    padding-top: $space-huge;
    padding-bottom: $space-xl;
  }
  @include screen(desktop) {
    padding-top: $space-huge;
    padding-bottom: 160px;
  }
  @include screen(desktopWide) {
    padding-top: $space-huge;
    padding-bottom: 160px;
  }
}

.artwork {
  position: absolute;
  @include screen(smallPhone) {
    bottom: 100%;
    right: 0;
    width: 150vw;
    transform: translateX(35%);
  }
  @include screen(phone) {
    bottom: 100%;
    right: 0;
    width: 150vw;
    transform: translateX(35%);
  }
  @include screen(tablet) {
    bottom: 88%;
    right: 0;
    width: 100vw;
    transform: translateX(35%);
  }
  @include screen(tabletLandscape) {
    bottom: 88%;
    right: 0;
    width: 100vw;
    transform: translateX(35%);
  }
  @include screen(desktop) {
    bottom: 60%;
    right: 0;
    width: 70vw;
  }
  @include screen(desktopWide) {
    bottom: 60%;
    right: 0;
    width: 80vw;
  }
}

.archiveGrid {
  display: grid;
  grid-gap: $space-ml;

  @include screen(smallPhone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  @include screen(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  @include screen(tablet) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include screen(tabletLandscape) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include screen(desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  @include screen(desktopWide) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
