@import 'src/tokens';

.root {
  display: flex;

  @include screen(smallPhone) {
    align-items: center;
    flex-direction: column;
    margin-bottom: $space-ml;
  }
  @include screen(phone) {
    align-items: center;
    flex-direction: column;
    margin-bottom: $space-ml;
  }
  @include screen(tablet) {
    align-items: center;
    flex-direction: column;
    margin-bottom: $space-ml;
  }
  @include screen(tabletLandscape) {
    align-items: center;
    flex-direction: column;
    margin-bottom: $space-ml;
  }
  @include screen(desktop) {
    align-items: center;
    flex-direction: row;
    margin-bottom: $space-ll;
  }
  @include screen(desktopWide) {
    align-items: center;
    flex-direction: row;
    margin-bottom: $space-ll;
  }
}

.center {
  justify-content: center;
}

.narrow {
  @include container-narrow;
}

.full {
  @include container;
}

.bleed {
  @include container-bleed;
}

.iconContainer {
  border-radius: 9999px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $brand-tertiary-100;

  @include screen(smallPhone) {
    margin-right: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: $space-sm;
  }
  @include screen(phone) {
    margin-right: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: $space-sm;
  }
  @include screen(tablet) {
    margin-right: 0;
    width: 36px;
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: $space-sm;
  }
  @include screen(tabletLandscape) {
    margin-right: 0;
    width: 36px;
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: $space-sm;
  }
  @include screen(desktop) {
    margin-right: $space-l;
    width: 56px;
    height: 56px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-right: $space-l;
    width: 56px;
    height: 56px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 0;
  }
}

.titleContainer {
}

.title {
  color: $dark-hex-80;
}

.subtitle {
  color: $dark-hex-80;
  font-weight: 400;
}
