@import 'src/tokens';

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $light-alpha-70;
  box-shadow: 0px 16px 40px -12px rgba(0, 0, 0, 0.2);
  @include screen(smallPhone) {
    border-radius: 0;
  }
  @include screen(phone) {
    border-radius: 0;
  }
  @include screen(tablet) {
    border-radius: 0;
  }
  @include screen(tabletLandscape) {
    border-radius: 0;
  }
  @include screen(desktop) {
    border-radius: 0;
  }
  @include screen(desktopWide) {
    border-radius: 24px;
  }
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include screen(smallPhone) {
    border-radius: 0;
  }
  @include screen(phone) {
    border-radius: 0;
  }
  @include screen(tablet) {
    border-radius: 0;
  }
  @include screen(tabletLandscape) {
    border-radius: 0;
  }
  @include screen(desktop) {
    border-radius: 0;
  }
  @include screen(desktopWide) {
    border-radius: 24px;
  }
}
