@import 'src/tokens';

.root {
  @include grid-row();
  align-items: center;
  justify-content: center;
  @include screen(smallPhone) {
    margin-bottom: 0;
  }
  @include screen(phone) {
    margin-bottom: 0;
  }
  @include screen(tablet) {
    margin-bottom: $space-ml;
  }
  @include screen(tabletLandscape) {
    margin-bottom: $space-ml;
  }
  @include screen(desktop) {
    margin-bottom: $space-ml;
  }
  @include screen(desktopWide) {
    margin-bottom: $space-ml;
  }
}

.logoContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: $space-l;
  }

  &:nth-child(even) {
    @include screen(smallPhone) {
      margin-right: 0px;
    }
    @include screen(phone) {
      margin-right: 0px;
    }
    @include screen(tablet) {
      margin-right: $space-l;
    }
    @include screen(tabletLandscape) {
      margin-right: $space-l;
    }
    @include screen(desktop) {
      margin-right: $space-l;
    }
    @include screen(desktopWide) {
      margin-right: $space-l;
    }
  }
}

.logo {
  max-width: 100%;

  @include screen(smallPhone) {
    margin-bottom: $space-m;
  }
  @include screen(phone) {
    margin-bottom: $space-m;
  }
  @include screen(tablet) {
    margin-bottom: $space-m;
  }
  @include screen(tabletLandscape) {
    margin-bottom: $space-m;
  }
  @include screen(desktop) {
    margin-bottom: 0;
  }
  @include screen(desktopWide) {
    margin-bottom: 0;
  }
}

.itdp {
  @include screen(smallPhone) {
    max-height: 40px;
  }
  @include screen(phone) {
    max-height: 40px;
  }
  @include screen(tablet) {
    max-height: 64px;
  }
  @include screen(tabletLandscape) {
    max-height: 64px;
  }
  @include screen(desktop) {
    max-height: 64px;
  }
  @include screen(desktopWide) {
    max-height: 64px;
  }
}

.asumsi {
  @include screen(smallPhone) {
    max-height: 56px;
  }
  @include screen(phone) {
    max-height: 56px;
  }
  @include screen(tablet) {
    max-height: 80px;
  }
  @include screen(tabletLandscape) {
    max-height: 80px;
  }
  @include screen(desktop) {
    max-height: 80px;
  }
  @include screen(desktopWide) {
    max-height: 80px;
  }
}

.rame {
  @include screen(smallPhone) {
    max-height: 64px;
  }
  @include screen(phone) {
    max-height: 64px;
  }
  @include screen(tablet) {
    max-height: 100px;
  }
  @include screen(tabletLandscape) {
    max-height: 100px;
  }
  @include screen(desktop) {
    max-height: 100px;
  }
  @include screen(desktopWide) {
    max-height: 100px;
  }
}

.iap {
  @include screen(smallPhone) {
    max-height: 52px;
  }
  @include screen(phone) {
    max-height: 52px;
  }
  @include screen(tablet) {
    max-height: 80px;
  }
  @include screen(tabletLandscape) {
    max-height: 80px;
  }
  @include screen(desktop) {
    max-height: 80px;
  }
  @include screen(desktopWide) {
    max-height: 80px;
  }
}
